* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* reset */
body {
  min-width: 1200px;
  font-family: "Open Sans", sans-serif;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.debug {
  border: 1px solid black;
}
.container {
  width: 80%;
  margin: 0 auto;
}
.left {
  float: left;
}

.right {
  float: right;
}

.button {
  background-color: #0061ff;
  border: 1px solid #0061ff;
  color: white;
  padding: 10px;
  
}
/* navbar */
nav {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: white;
}

nav ul {
  list-style-type: none;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
}
nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  margin-right: 25px;
}
nav .logo img {
  width: 200px;
  vertical-align: middle;
  padding: 20px;
}
/* header */
.jumbotron {
  width: 100%;
  margin-top: 80px;
  background-color: #b4d0e7;
  min-width: 1000px;
}
.jumbotron-title h1 {
  font-size: 65px;
  padding: 10px;
}
.jumbotron-title {
  width: 80%;
  height: 150px;
  margin-top: 50px;
}
.jumbotron-description {
  width: 20%;
  height: 50vh;
  padding-left: 20px;
  padding-top: 80px;
  float: left;
}
.jumbotron-img {
  width: 80%;
  height: 50vh;
  float: right;
  position: relative;
  bottom: -80px;
}
.jumbotron-img img {
  width: 100%;
  height: 100%;
}
.jumbotron-description a {
  display: inline-block;
  margin-top: 20px;
  text-decoration: none;
}

.jumbotron-description p {
  font-size: 20px;
  padding-top: 5px;
}

.jumbotron-description i {
  font-size: 50px;
  margin-top: 20px;
  margin-left: 40px;
}
#annulla {
  font-size: 15px;
}

/* main */
.business-title {
  width: 100%;
  margin-top: 150px;
}
.business-title h2 {
  font-size: 50px;
}
.radio {
  width: 10px;
  height: 10px;
  border: 1px solid black;
}

.check {
  margin-top: 40px;
  display: inline-block;
}
.check-no {
  display: inline-block;
}
#yes{
    width: 15px;
    height: 15px;
    border: 3px solid  #0061ff;
    background-color:  white;
    border-radius: 50%;
    padding: 5px;
    display: inline-block;
}
#no{
    width: 15px;
    height: 15px;
    border: 1px solid black;
    background-color:  white;
    border-radius: 50%;
    padding: 5px;
    display: inline-block; 
    margin-left: 5px;
}

.row {
  margin-top: 30px;
}

.row .col-left {
  width: 30%;
  min-height: 400px;
}
.col-left h3 {
  text-align: center;
  padding: 10px;
}
.col-left ul li {
  list-style-type: none;
  padding: 20px;
}
.under {
  border-bottom: 1px solid grey;
  padding-bottom: 20px;
}
.row .col-central {
  width: 30%;
  min-height: 400px;
  margin: 0 5%;
}
.col-central h3 {
  text-align: center;
  padding: 10px;
}
.col-central ul li {
  list-style-type: none;
  padding: 20px;
}
.row .col-right {
  width: 30%;
  min-height: 400px;
}
.col-right h3 {
  text-align: center;
  padding: 10px;
}
.col-right ul li {
  list-style-type: none;
  padding: 20px;
  
}
 .fa-check{
    color: #0061ff;
    padding: 5px;
}
.fa-pen{
    padding: 5px;
}
.col-left, .col-central, .col-right, .button{
    text-decoration: none;
}
/* fine colonne */

/* inizio parte team */
.team {
  width: 100%;
  margin-bottom: 50px;
}
.team-title {
  width: 100%;
  min-height: 50px;
  margin-top: 30px;
  text-align: center;
  padding: 10px;
  line-height: 50px;
  font-size: 20px;
}

.enterprise-title {
  padding: 30px;
}
.enterprise a {
  text-decoration: none;
}
.enterprise-title p {
  padding-top: 20px;
}

/* inizio parte foto */

.foto {
  width: 100%;
  height: 50vh;
}

.foto .foto-img {
  width: 50%;
  height: 100%;
}
.foto-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.foto-description {
  width: 30%;
  min-height: 500px;
  padding: 30px 10px;
}

.foto-description p {
  padding: 20px 0;
}
.foto-description a {
  margin-top: 15px;
  display: inline-block;
  background-color: white;
  border-color: black;
  color: black;
  text-decoration: none;
}

/* inizio parte box*/

#db {
  width: 100%;
  font-size: 40px;
  padding: 0 20px;
  margin: 30px 0;
}
.row-top .box {
  width: calc(100% / 3);
  min-height: 250px;
  float: left;
  padding: 10px;
}
.box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.box h3 {
  padding-bottom: 15px;
}
.title-bottom {
  width: 50%;
  margin-bottom: 30px;
}
.title-bottom h2 {
  padding-bottom: 20px;
}
/* sezione designit */
.colonna {
  width: 15%;
  height: 50vh;
}

.square {
  width: 100%;
  height: 25vh;
}
.square-img {
  width: 100%;
  height: 25vh;
  object-fit: contain;
  padding: 30px;
}
.designit {
  background-color: #a2d39b;
}
.florida {
  background-color: #0093ce;
}
.asu {
  background-color: #61082b;
}
.topps {
  background-color: #ff1c1c;
}
/* sezione centrale */
.big {
  width: 40%;
  height: 50vh;
  background-color: #f5f5f5;
  padding: 30px;
  overflow-y: auto;
}
.big h2 {
  font-size: 30px;
}
.big span {
  font-size: 15px;
  vertical-align: top;
}
#wipro {
  font-size: 10px;
}
#wipro span {
  font-size: 10px;
  border-bottom: 1px solid grey;
  padding-bottom: 25px;
  font-weight: bold;
}
.big .cit {
  padding-top: 50px;
}
.big .firma {
  padding-top: 50px;
}

/* sezione destra */
.world {
  background-color: #d5001f;
}
.lonely {
  background-color: #0d2481;
}
.h-corporation {
  background-color: #b4d0e7;
}
.c-channel {
  background-color: #ffd830;
}
/* zona azzurra */
.background {
  width: 100%;
  height: 30vh;
  background-color: #b4d0e7;
  position: relative;
}
.container-background {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container-background h2 {
  color: #61082b;
  font-size: 40px;
  width: 60%;
  display: inline-block;
}

.container-background a {
  border: 1px solid white;
  background-color: white;
  color: black;
  vertical-align: top;
  margin-left: 50px;
  text-decoration: none;
  display: inline-block;
  padding: 5px;
}

/* domande frequenti */
.questions {
  height: 50vh;

}
.questions h2 {
  margin-top: 30px;
  margin-bottom: 20px;
  
}
.questions hr {
  color: gray;
  margin-bottom: 30px;
  margin-top: 30px;
}
.questions p {
  padding: top 20px;
  margin-top: 20px;
}
.icon{
    width: 40%; 
    display: inline-block;
}
.questions i {
  margin-top: 20px; 
  margin-right: 10px;
}
/* footer */

footer {
  height: 50vh;
  background-color: #000000;
  color: white;
  padding-top: 50px;
}
.clm {
  min-width: 20%;
  min-height: 30vh;
  
  padding: 15px;
}
.clm h4 {
  padding-bottom: 15px;
  font-size: 20px;
}
.clm li a {
  color: white;
  text-decoration: none;
}
.clm li {
  list-style-type: none;
  padding-top: 10px;
}
.language {
  display: inline-block;
  margin-top: 40px;
  border-top: 1px solid white;
  padding-top: 30px;

}
